
ci/  @microsoft/akvelon-build-task-team

common-npm-packages/artifacts-common/            @microsoft/azure-artifacts-packages

common-npm-packages/az-blobstorage-provider/     @hiyadav  @bishal-pdmsft

common-npm-packages/azure-arm-rest/              @rvairavelu  @manolerazvan  @pipeline-environment-team

common-npm-packages/azurermdeploycommon/         @vincentdass  @vsebesta  @rvairavelu  @pipeline-environment-team

common-npm-packages/codeanalysis-common/         @microsoft/akvelon-build-task-team

common-npm-packages/codecoverage-tools/          @rasunkar  @microsoft/adoautotest

common-npm-packages/docker-common/               @rvairavelu  @manolerazvan

common-npm-packages/ios-signing-common/          @microsoft/akvelon-build-task-team  @hashtagchris

common-npm-packages/java-common/                 @microsoft/akvelon-build-task-team  @kelliejos

common-npm-packages/kubernetes-common/           @nishubansal  @ds-ms

common-npm-packages/msbuildhelpers/              @microsoft/akvelon-build-task-team

common-npm-packages/packaging-common/            @microsoft/azure-artifacts-packages

common-npm-packages/securefiles-common/          @microsoft/akvelon-build-task-team  @hashtagchris

common-npm-packages/utility-common/              @nishubansal  @ds-ms

common-npm-packages/webdeployment-common/        @vsebesta  @rvairavelu  @pipeline-environment-team
